<% include ../partials/header %>

<title>Handyman: Admin Forgot Password</title>
<link rel="stylesheet" href="/stylesheets/form.css" />

<% include ../partials/navbar %>

<div class="container form-content">
    <h1 class="text-center">Admin Forgot Password</h1>
    <div class="form-container">
        <form action="/admin/forgot" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" maxlength="254" name="email"
                    placeholder="Enter Registered Email">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Reset Password!</button>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>