<% include ../partials/header %>

<meta name="description"
	content="Handyman: Customer Registeration: Customer registeration page. Register as customer to see detailed information for all the vendors. Find out all the local vendors near you and get your service done from them.">
<title>Handyman: Customer Registeration</title>
<link rel="stylesheet" href="/stylesheets/form.css" />

<% include ../partials/navbar %>
<div class="container form-content">
	<h1 class="text-center">Register as Customer</h1>
	<div class="form-container">
		<form action="/customer/register" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" maxlength="30" name="fname" placeholder="First Name" required
					autofocus>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" maxlength="30" name="lname" placeholder="Last Name" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" maxlength="35" name="username" placeholder="Username" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" maxlength="254" name="email" placeholder="Email" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" maxlength="254" name="confirmemail" placeholder="Confirm Email"
					required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" minlength="8" maxlength="30" name="password"
					placeholder="Password" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" minlength="8" maxlength="30" name="confirmpassword"
					placeholder="Confirm Password" required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Register</button>
			</div>
		</form>
		<p>Already have an account? <a href="/customer/login">Login!</a>
	</div>
</div>

<% include ../partials/footer %>