<% include partials/header %>

<title>Handyman: No Work Is Small We Serve Them All</title>
<link rel="stylesheet" href="/stylesheets/landing.css" />

<% include partials/navbar %>

<script type="text/javascript" src="/scripts/landing.js">
</script>
<div class="container landing-container text-center">
	<div class="row">
		<div class="col-lg-12">
			<div id="contentCenter">
				<h1>Handyman</h1>
				<h3>No Work Is Small We Serve Them All</h3>
				<hr>
				<a class="btn btn-light btn-lg" href="/services">
					<i class="fas fa-tools"></i>Get Started!
				</a>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>